<div class="form-group">
  <div ng-repeat="option in editor.formatParams.dictOptions">
    <div class="editor-dict-option">
      <button
        ng-if="editor.formatParams.dictOptions.length > 1"
        aria-label="删除字典项"
        ng-click="removeOption($index)"
        tooltip="删除字典项"
        tooltip-append-to-body="true"
        type="button"
        class="kuiButton kuiButton--danger kuiButton--small editor-option-remove"
      >
        <span aria-hidden="true" class="kuiIcon fa-times"></span>
      </button>

      <div class="form-group" >
        <label for="optionValue">选项值</label>
        <input
          id="optionValue"
          ng-model="option.value"
          type="text"
          required
          class="form-control"
        >
      </div>
      <div class="form-group">
        <label for="optionDisplay">显示文本</label>
        <input
          id="optionDisplay"
          ng-model="option.text"
          type="text"
          required
          class="form-control"
        >
      </div>


    </div>
  </div>

  <button
    aria-label="添加"
    ng-click="addOption()"
    tooltip="添加字典项"
    tooltip-append-to-body="true"
    type="button"
    class="kuiButton kuiButton--primary kuiButton--small kuiButton--iconText"
  >
      <span
        aria-hidden="true"
        class="kuiButton__icon kuiIcon fa-plus"
      ></span>
    <span>添加字典项</span>
  </button>

</div>
