<div class="form-group">
    <div class="editor-dict-option">
        <div class="form-group">
            <label for="optionDisplay">字典项配置</label>
            <textarea id="dict-option-json" ng-model="editor.formatParams.optionJson" type="text" required class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="optionDisplayOption">显示原始值</label>
            <input id="optionDisplayOption" ng-model="editor.formatParams.displayValue" type="checkbox">
        </div>
        <div class="notify-message">{{message}}</div>
    </div>
</div>